<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{ title }}
    </title>
</head>
<body>

<ol>
    {% for category in categories %}

    <li>{{ category.title }}</li>

    {% endfor %}
</ol>

{% for article in articles %}

<div>
    <h3>Название категории: {{article.title }}</h3>
    <h4>Категория статьи: {{article.category }}</h4>
    <p>Содержание статьи: {{article.description }}</p>
    <p>Дата создания: {{article.created_at }}</p>
    <p>Дата обновления: {{article.updated_at }}</p>
    <p>Просмотры: {{article.views }}</p>
    <hr>
</div>

{% endfor %}

</body>
</html>


